langchain
langchain-community
langchain-core
pypdf
python-dotenv
pandas
pdfplumber
pdf2image
google-generativeai 
pydantic
PyPDF2
langchain-chroma
pytesseract
langchain-huggingface
langchain-text-splitters
chromadb
pathlib

rouge-score
nltk
tqdm
google-adk==1.17.0